<?xml version="1.0" encoding="UTF-8"?>

<Config>
  <IpLocal>127.0.0.1</IpLocal>
  <Port>8000</Port>



  <UrlOpenDsServer>ldap://192.168.0.101:1389</UrlOpenDsServer>
  <CertificateFile>/home/ubugtu/workspace/nntpSslBamServer/src/Certificados/sslcert.csr</CertificateFile>
  <KeyFile>/home/ubugtu/workspace/nntpSslBamServer/src/Certificados/sslkey.pem</KeyFile> 
</Config>
